@tailwind base;
@tailwind components;
@tailwind utilities;

@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap");

* {
  font-family: "Roboto", serif;
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

h1 {
  font-size: 40px;
}

.blog-big {
  border-radius: 10px;
  background-color: #f2f2f2;
  height: 450px;
  width: 830px;
}

.small-box {
  border-radius: 10px;
  background-color: #f2f2f2;
  height: 400px;
  width: 400px;
}

.container {
  padding-bottom: 100px;
  padding-top: 100px;
  padding-left: 400px;
  justify-content: center;
  flex-direction: column;
  display: flex;
}

/* Responsive Styles */
@media (max-width: 1024px) {
  h1 {
    font-size: 30px;
  }

  p {
    font-size: 12px;
  }

  .blog-big {
    height: 350px;
    width: 600px;
  }

  .small-box {
    height: 350px;
    width: 350px;
  }

  button {
    height: 30px;
    width: 100px;
  }

  .container {
    padding-left: 20px;
    padding-right: 20px;
  }
}

@media (max-width: 768px) {
  h1 {
    font-size: 25px;
  }

  p {
    font-size: 11px;
  }

  .blog-big {
    height: 300px;
    width: 500px;
  }

  .small-box {
    height: 300px;
    width: 300px;
  }

  button {
    height: 30px;
    width: 90px;
  }

  .container {
    padding-left: 20px;
    padding-right: 20px;
  }
}

@media (max-width: 480px) {
  h1 {
    font-size: 20px;
  }

  p {
    font-size: 10px;
  }

  .blog-big {
    height: 250px;
    width: 350px;
  }

  .small-box {
    height: 250px;
    width: 350px;
  }

  button {
    height: 25px;
    width: 80px;
  }

  .container {
    padding-left: 10px;
    padding-right: 10px;
  }
}
